html, body {
  background-color: #f1f1f1;
}

.App {
  text-align: center;
  color: #2a2a2a;
  max-width: 800px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #2a2a2a;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  color: #f1f1f1;
}

h3 {
  text-align: left;
  font-size: 1rem;
}

li {
  list-style: none;
  font-size: .8rem;
}

ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

.filter {
  margin: 1rem 0;
}
.filter span {
  margin-right: 1rem;
}